*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#f0f0f0 ;
}
.header_wraper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 20%;
}
.logo img{
}
nav{
    width: 50%;
}
nav ul{
    display: flex;
   justify-content: end;
   list-style: none;
   justify-content: space-around;
   font-family: "Lato", sans-serif;
}
nav ul li{
    margin-left: 20px;
    justify-content: space-between;  
}
nav ul li a{
text-transform: uppercase;
text-decoration: none;
color: #2d3950;
}
.bannar{
    position: relative;
    text-align: center;
}
.bannar image{
    width: 100%;
}
.bannar_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
}
.bannar_content h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 80px;
    font-family: "Lato", sans-serif;
}
.bannar_content span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: chartreuse;
}
.bannar_content p{
    color: #fff;
    margin: 20px 0 50px;
}
.bannar_content button{
    background-color: transparent;
    border: none;
    border: 1px solid #15a4fa;   
    text-transform: capitalize; 
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 3px;
}
.icon{
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
    transform: translate(-50%, 0px);
    font-size: 25px;
}
.bannar_content button:hover{
    background-color: #15a4fa;
    transition: .4s all ease-in-out;

}
.content{
    width: 100%;
    margin top: 20px;
    height: 300px;
}

.content_tex{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}

.content_tex h1{
    color: #2d3950;
    font-size: 40px;
    font-weight: 500;
    text-transform: none;
    font-family: "Lato", sans-serif;
    padding: 20px 0;
}
.content_tex p{
    color:#999999;
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

